
body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.navbar {
    background-color: #E61D27;
}

.navbar-brand {
    font: 28px bold;
    color: white;
}

.navbar-toggler-icon {
    background-color: white;
}

.navbar-nav {
    width: 90%;
    font: 1.1em sans-serif;
}

.nav-item {
    margin: 0;
}

.nav-link {
    color: white;
}


body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}

.row h1 {
    margin-left: 28%;
    margin-top: 2%;
}

.row .col-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 250px;
    border-radius: 5%;
    color: black;
}

.row .col-3 i {
    font-size: 35px;
    color: #E61D27;
}

.row .col-3 h5 {
    margin-top: 5%;
}

.row .col-3 p {
    margin: 0;
}


.bg-body-tertiary {
    background-color: #E61D27;
    color: white;
}

.row.justify-content-center.pt-4.pb-4.justify-content-around .col-3 {
    margin: 0;
}

.row.justify-content-center.pb-4.pt-3.justify-content-around .col-3 {
    margin: 0;
}

