.row h1{
    text-align: center;
}
.text-info-emphasis {
    text-align: start;
  }
  
#details ul{
    list-style: none;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;

}
#details ul li{
    font-size: 15px;
    color: rgb(76, 70, 70);
    /* display: flex;  */
  align-items: center; 
}
#details ul li i{
    font-size: 10px;
    padding-right: 15px;
    color: cornflowerblue;

}
#details ul h5{
    font-size: 11px;
    color: rgb(76, 70, 70);
    /* text-align: center; */
}

.col-4 i{
    font-size: 20px;
    padding-right: 15px;
}
#message{
    height: 150px;
}
h5 .info{
    font-size: 9px;
}